body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 20vw 0 20vw;
    font-size: 160%;
}

section:nth-child(2), 
section:nth-child(3),
section:nth-child(5) {
    display: block;
}

section {
    display: inline-table;
    height: 100%;
}

.wapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
} 
.my_photo {
    margin: 4px;
    float: left;
    width: 37%;
    border-radius: 100%;
}

.nav-item{
    padding-left: 20px;
}

header {
    font-size: 90%;
}

h2 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    background-color: #FFDAB9;
    padding: 0 15px 0 3px;
    border-radius: 0 15px 15px 0;
    border-left: #FF4500 solid 10px;
}

main,
footer {
    background-color: #FFEFD5;
    padding-bottom: 10px;
}

main{
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

.contacs {
    margin-left: 50%;
    padding-top: 7%;
    font-size: 120%;
}

.javascript {
    filter: contrast(2%);
}

.rs-school-image {
    width: 128px;
    margin-left: 3%;
    float: left;
}

.github-logo {
    float: left;
}

@media (max-width: 1400px) {
    .my_photo {
        float: none;
        margin-left: 17vw ;
    }

    .contacs {
        margin: auto;
    }

    body {
        margin: 0 15vw 0 15vw;
    }
}

@media (max-width: 600px) {
    body {
        margin: 0;
    }
}